footer.footer {
    position: absolute;
    bottom: 0;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

small {
    font-style: italic;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#main-grid {
    margin-bottom: 30px;
}

.middle-content {
    min-height: 60px;
    max-height: 60px;
    display: block;
}

.expanded-wrapper
{
    margin: 5px 0;

    &hover{
        text-decoration: none;
    }
}

.expanded-wrapper span {
     position: absolute;
     top: 50%;
     width: 100%;
     transform: translate(-50%,-50%);
 }
.btn-left {
    position    : absolute;
    right       : 10px;
}
.space-right {
    margin-right: 75px;
}

.row
{
    margin-left   : auto;
    margin-right  : auto;
}

.padding-none {
    padding: 0 !important;
}
.padding-rl-5 {
    padding-left : 5px;
    padding-right: 5px;
}
.padding-rl-31 {
    padding-left: 3px !important;
    padding-right: 1px !important;
}
.padding-rl-10 {
    padding-left : 10px;
    padding-right: 10px;
}
.padding-tb-5 {
    padding-top   : 5px;
    padding-bottom: 5px;
}
.padding-tb-10 {
    padding-top   : 10px;
    padding-bottom: 10px;
}
.padding-all-5 {
    padding: 5px;
}
.padding-all-10 {
  padding: 10px;
}
.margin-all-10 {
    margin: 10px;
}
.margin-all-5 {
    margin: 5px;
    border: solid 1px #dddddd;
}
.margin-tb-5 {
    margin: 5px 0;
}
.margin-tb-10 {
    margin: 10px 0;
}
.radius-5 {
    border: solid 1px #ccc;
    border-radius: 5px;
}
.btn-transparent {
    background: transparent;
    color: #fff;
&:hover,
&:active,
&:focus {
     color: #fff;
 }
}
@media (max-width:767px) {

    .btn-left {
        margin-top  : -10px;
    }

}

